<!DOCTYPE html>
<html>
  <head>
    <title>Trollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <script src="https://kit.fontawesome.com/a2de7a38f9.js" crossorigin="anonymous"></script>
   <link rel="shortcut icon" type="image/jpg" href="<%= image_url("troll.ico") %>" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script >
          window.currentUser = {
          "id": <%= current_user.id %>
          }
          window.unsplashKey = <%= Rails.application.credentials.unsplash[:api_key] %>
      </script >
    <% end %>
    <script type="text/javascript">
      window.images = {
        purpleLogo: "<%= image_url("purple_logo.png") %>",
        whiteLogo: "<%= image_url("white_logo.png") %>",
        openingImg: "<%= image_url("hero.png") %>",
        mainBoard: "<%= image_url("main_board.png") %>",
        card: "<%= image_url("card.svg") %>",
        board: "<%= image_url("board.svg") %>",
        troll: "<%= image_url("troll.png") %>",
        trollHair: "<%= image_url("troll-hair.png") %>"
      }
    </script>

     <meta property="og:title" content="Trollo" />
     <meta property="og:image" content="<%= image_url("drop-drop-demo.gif") %>"/>
     <meta property="og:description"
       content="A team mangagement tool inspried by Trello."
     />
     <meta property="og:url"
       content="https://trollo-manage-team-with-trolls.herokuapp.com/#/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
