<!DOCTYPE html>
<html>
  <head>
    <title>Trollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script >
          window.currentUser = {
          "id": <%= current_user.id %>
          }
      </script >
    <% end %>
    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url("black_logo.png") %>",
        mainBoard: "<%= image_url("hero.png") %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
